$themes: (
  light: (
    color-bg: #efefef,
    color-bg-aside: #fff,
    color-text: #282828,
    img-filter: none,
  ),
  dark: (
    color-bg: #222222,
    color-bg-aside: #2f2f2f,
    color-text: #f5f5f5,
    img-filter: invert(100%),
  )
);
