// font
$font-base: 16px;
$font-small: 0.875 * $font-base;
$font-mini: 0.75 * $font-base;
$font-large: 1.25 * $font-base;
$font-extra-large: 1.5 * $font-base;

// font weight
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 800;

// padding
$padding-base: 16px;
$padding-small: 0.875 * $padding-base;
$padding-mini: 0.5 * $padding-base;
$padding-large: 1.25 * $padding-base;
$padding-extra-large: 1.5 * $padding-base;

// radius
$radius-base: 16px;
$radius-small: 0.75 * $radius-base;
$radius-mini: 0.5 * $radius-base;
$radius-large: 1.25 * $radius-base;
$radius-extra-large: 1.5 * $radius-base;

